* {
    font-family:Arial, Helvetica, sans-serif;
}


main {
    width:960px;
    margin:auto;
    box-sizing: border-box;
}

/*Profile*/

.profile {
    text-align:center;
    position:relative;
}

.profile img {
    width:100%;
}

.profile h1 {
    position: absolute;
    top: 36px;
    left: 266px;
    font-size: 61px;
    font-weight: bold;
    color:white;
}

.profile h2 {
    position: absolute;
    bottom: 125px;
    left: 51px;
    font-size: 33px;
    font-weight: bold;
    color: white;
    background: rgba(114, 153, 254, 0.5);
    padding: 15px;
    line-height: 40px;
    border-radius: 10px;
}

/*Sobre mi*/

.about {
    background:#7299FE;
    text-align: center;
    margin-top:-1.5px;
}

.about div {
    text-align: justify;
}

.about h2 {
    font-size:30px;
    font-weight:bold;
    padding:20px;
    color:#1D06A7;
}

.about p {
    color:white;
    line-height: 20px;
}

.about a {
    display: inline-block;
    padding:20px;
    

}